//-********************************************************************************
//---------------------------------------------------------------------------------
//- Config
//---------------------------------------------------------------------------------
//-********************************************************************************

//-============================================================
//- page config
//-============================================================

- var pageTitle = "THIS IS DEFAULT PAGE TITLE"
- var pageDesc = "THIS IS DEFAULT PAGE DESCRIPTION"
- var pageKeywords = "HTML, CSS, JAVASCRIPT, JADE, SASS, COMPASS"

//-============================================================
//- path
//-============================================================

- var pathCss = "css/styles.css"
- var pathJs = "js/scripts.js"
- var pathGoogleFonts = "//fonts.googleapis.com/css?family="

- var pathRespondJs = "js/respond.min.js"

- var pathJquery = "../../bower_components/jquery/dist/jquery.min.js"

- var pathBootstrapCss = "../../bower_components/bootstrap/dist/css/bootstrap.min.css"
- var pathBootstrapJs = "../../bower_components/bootstrap/dist/js/bootstrap.min.js"

//-============================================================
//- switchers
//-============================================================

- var addGoogleFonts = "googlefonts"

- var addRespondJs = true

- var addJquery = true

- var addBootstrapCss = true
- var addBootstrapJs = true


