//-********************************************************************************
//---------------------------------------------------------------------------------
//- Variables
//---------------------------------------------------------------------------------
//-********************************************************************************

//-============================================================
//- Layouts
//-============================================================

- var classesBody = ["body-class"]
- var classesNav = [ "nav-class" ]
- var classesHeader = [ "header-class" ]
- var classesMain = [ "main-class" ]
- var classesArticle = [ "article-class" ]
- var classesAside = [ "aside-class" ]
- var classesFooter = [ "footer-class" ]







