//-============================================================
//- Extend
//-============================================================

extend _extend-index

//-============================================================
//- Default Override
//-============================================================

append config
	//- - var pageTitle = "THIS IS COSTUM PAGE TITLE"
	//- - var pageTitle = pageTitle.concat( " | COSTUM TITLE CONCAT" )
	//- - var pageDesc = "THIS IS COSTUM PAGE DESCRIPTION"
	//- - var pageDesc = pageDesc.concat( " | COSTUM DESC CONCAT" )
	//- - var pageKeywords = "THIS IS COSTUM KEYWORDS"
	//- - var pageKeywords = pageKeywords.concat( " | COSTUM KEYWORD CONCAT" )

	//- - var addGoogleFonts = "costum+font"
	//- - var addGoogleFonts = addGoogleFonts.concat( "|addtional+font" )

	//- - var addRespondJs = true

	//- - var addJquery = true

	//- - var addBootstrapCss = true
	//- - var addBootstrapJs = true

append variables
	- var appendclassesBody = classesBody.push( "extra-classes" )
	- var appendclassesNav = classesNav.push( "extra-classes" )
	- var appendclassesHeader = classesHeader.push( "extra-classes" )
	- var appendclassesMain = classesMain.push( "extra-classes" )
	- var appendclassesArticle = classesArticle.push( "extra-classes" )
	- var appendclassesAside = classesAside.push( "extra-classes" )
	- var appendclassesFooter = classesFooter.push( "extra-classes" )

append mixin
	

//-============================================================
//- Content
//-============================================================

//- block nav
//- block header
//- block main
//- block article
//- block aside
//- block footer


